<div class="container">
  <div class="isloading" *ngIf="isLoading == true">
    <app-loadding></app-loadding>
  </div>
  <form [formGroup]="login_value">
    <h2>Đăng nhập</h2>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email" />
    <span class="error" *ngIf="login_value.get('email').hasError('required')"
      >Vui lòng nhập email</span
    >
    <br />
    <label for="password">Mật khẩu: </label>
    <input id="password" type="password" formControlName="password" />
    <span class="error" *ngIf="login_value.get('password').hasError('required')"
      >Vui lòng nhập mật khẩu</span
    >
    <p>
      <button type="button" (click)="login()">Login</button>
    </p>
  </form>
</div>
