<div class="container">
  <!-- <p>{{ message }}</p> -->
  <div class="isloading" *ngIf="isLoading == true">
    <app-loadding></app-loadding>
  </div>
  <form [formGroup]="login_value">
    <h2>Đăng nhập</h2>

    <label for="first-name">Email: </label>
    <input id="first-name" type="text" formControlName="email" />
    <br />
    <label for="last-name">Mật khẩu: </label>
    <input id="last-name" type="text" formControlName="password" />

    <p>
      <button type="button" (click)="login()">Login</button>
    </p>
  </form>
</div>
