<nz-modal
  [(nzVisible)]="isVisibleMuon"
  nzTitle="Chi tiết sách"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <div class="modal-form">
      <div>Thông tin sách</div>
      <div class="form-group">
        <label for="bookName">Tên sách:</label>
        <input
          id="bookName"
          type="text"
          class="form-control"
          [(ngModel)]="nameDetailMuon"
          [readonly]="true"
        />
      </div>
      <div class="form-group">
        <label for="initialQuantity">Số lượng ban đầu:</label>
        <input
          id="initialQuantity"
          type="number"
          class="form-control"
          [(ngModel)]="SoluongDetailMuon"
          [readonly]="true"
        />
      </div>
      <div class="form-group">
        <label for="bookType">Type:</label>
        <input
          id="bookType"
          type="text"
          class="form-control"
          [(ngModel)]="typeDetailMuon"
          [readonly]="true"
        />
      </div>
    </div>
    <div>
      <div style="font-size: 25px; text-align: center">
        Thông tin người mượn
      </div>
      <div>
        <label for=""> Tên người mượn </label>
        <input placeholder="Tên người mượn ..." [(ngModel)]="use_name" />
      </div>
      <div>
        <label for=""> Số điện thoại </label>
        <input placeholder="Số điên thoại ..." [(ngModel)]="phone_number" />
      </div>
      <div>
        <label for=""> Ngày trả </label>
        <div class="ngaytra" (click)="hanldeNgayTra()">
          <input
            placeholder="Ngày trả..."
            value="{{ dateTime | date : 'dd/MM/yyyy' }}"
          />
          <span
            nz-icon
            nzType="calendar"
            nzTheme="outline"
            class="calendar"
          ></span>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
<nz-modal
  [(nzVisible)]="isVisibleCalendar"
  nzTitle="Ngày trả"
  (nzOnCancel)="handleCancelCalendar()"
  (nzOnOk)="handleOkCalendar()"
>
  <ng-container *nzModalContent>
    <nz-calendar
      [nzFullscreen]="false"
      (nzSelectChange)="onValueChange($event)"
      (nzPanelChange)="onPanelChange($event)"
      [nzDisabledDate]="disabledDate"
    ></nz-calendar>
  </ng-container>
</nz-modal>
