<app-search_book (searchChange)="setDataSearch($event)"></app-search_book>

<button (click)="handelGetAll()">Get All</button>

<!-- <div>
  <app-muonSach [item]="isLoadingMuon"></app-muonSach>
</div> -->
<!-- Mượn sách -->
<div *ngIf="isBorrowBooksForm == true">
  <app-muonSach
    [borrowBooks]="borrowBooks"
    (typeMuonChange)="setIsBorrowBooksForm($event)"
  >
  </app-muonSach>
</div>

<!-- update book -->
<div *ngIf="isUpdateForm == true">
  <app-update_book
    [selectedItem]="selectedItem"
    (typeDetailChange)="setIsUpdateForm($event)"
  >
  </app-update_book>
</div>

<table
  class="table"
  *ngIf="newArray.length > 0 && isSearch == true"
  [@shrinkOut]="'in'"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Số lượng ban đầu</th>
      <th scope="col">Số lượng còn</th>
      <th scope="col">Thể Loại</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">#</th>

      <th scope="col">Sửa</th>
      <th scope="col">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of newArray; let i = index"
      id="book-row-{{ item._id }}"
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.name_book }}</td>
      <td>{{ item.original_number }}</td>
      <td>{{ item.number_of_remaining }}</td>
      <td>{{ item.type_Book }}</td>

      <td
        *ngIf="item.number_of_remaining > 0"
        class="book-status book-available"
      >
        Còn sách
      </td>
      <td
        *ngIf="item.number_of_remaining <= 0"
        class="book-status book-out-of-stock"
      >
        Hết sách
      </td>
      <td *ngIf="item.number_of_remaining > 0">
        <button (click)="hanldeMuon(item)">Mượn</button>
      </td>
      <td *ngIf="item.number_of_remaining <= 0">
        <button [disabled]="item.number_of_remaining <= 0">Mượn</button>
      </td>
      <td>
        <button nz-button (click)="showModal(item)" class="edit-button">
          <span>Sửa</span>
        </button>
      </td>
      <td>
        <button (click)="handleDelete(item._id)">Xóa</button>
      </td>
      <!-- <div *ngIf="isLoadingMuon == true"> -->
    </tr>
  </tbody>
</table>
<div *ngIf="newArray.length <= 0 && isSearch == true">
  Không có sản phẩm nào
</div>

<!-- dữ liệu search -->

<table class="table" *ngIf="newArraySearch.length > 0 && isSearch == false">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Số lượng ban đầu</th>
      <th scope="col">Số lượng còn</th>
      <th scope="col">Thể Loại</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">#</th>

      <th scope="col">Sửa</th>
      <th scope="col">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of newArraySearch; let i = index"
      id="book-row-{{ item._id }}"
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.name_book }}</td>
      <td>{{ item.original_number }}</td>
      <td id="book">
        {{ item.number_of_remaining }}
      </td>
      <td>{{ item.type_Book }}</td>

      <td
        *ngIf="item.number_of_remaining > 0"
        class="book-status book-available"
      >
        Còn sách
      </td>
      <td
        *ngIf="item.number_of_remaining <= 0"
        class="book-status book-out-of-stock"
      >
        Hết sách
      </td>
      <td *ngIf="item.number_of_remaining > 0">
        <button (click)="hanldeMuon(item)">Mượn</button>
      </td>
      <td *ngIf="item.number_of_remaining <= 0">
        <button [disabled]="item.number_of_remaining <= 0">Mượn</button>
      </td>
      <td>
        <button nz-button (click)="showModal(item)" class="edit-button">
          <span>Sửa</span>
        </button>
      </td>
      <td>
        <button (click)="handleDelete(item._id)">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="newArraySearch.length <= 0 && isSearch == false">
  Không có sản phẩm nào
</div>

<nz-pagination
  [nzPageIndex]="1"
  [nzTotal]="100"
  (nzPageIndexChange)="onPageChange($event)"
></nz-pagination>
