<label> Tìm kiếm theo tên sách </label>
<input [(ngModel)]="name_search" (ngModelChange)="hanldeSearchNameBook()" />

<label> Tìm kiếm theo đầu sách </label>
<input [(ngModel)]="type_search" (ngModelChange)="hanldeSearchTypeBook()" />

<label> Tìm kiếm theo tên người mượn </label>
<input [(ngModel)]="nameUser_search" (ngModelChange)="hanldeSearchNameUser()" />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sách</th>
      <th scope="col">Danh mục</th>
      <th scope="col">Tên người mượn</th>
      <th scope="col">Ngày mượn</th>
      <th scope="col">Ngày hẹn trả</th>
      <th scope="col">Ngày trả</th>
      <th scope="col">Trang thái</th>

      <th scope="col">Trả sách</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datas; let i = index" id="book-row-{{ item._id }}">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.name_book }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.use_name }}</td>
      <td>{{ item.borrowed_Day | date : "dd/MM/yyyy" }}</td>
      <td>{{ item.paymentDate | date : "dd/MM/yyyy" }}</td>
      <td>{{ item.payDay | date : "dd/MM/yyyy" }}</td>
      <td class="{{ item.status === 'Đã trả' ? 'datra' : 'chuatra' }}">
        {{ item.status }}
      </td>
      <td *ngIf="item.status != 'Đã trả'">
        <button (click)="hanldeMuon(item._id, item.bookId)">Trả sách</button>
      </td>
      <td *ngIf="item.status == 'Đã trả'">
        <button [disabled]="item.status == 'Đã trả'">Trả sách</button>
      </td>
    </tr>
  </tbody>
</table>
