.datra {
  color: white;
  padding: 5px;
  background-color: rgb(71, 153, 71);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  opacity: 0.8;
}

.chuatra {
  color: white;
  padding: 5px;
  background-color: rgb(184, 57, 57);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  opacity: 0.8;
}
.muonquahan {
  color: white;
  padding: 5px;
  background-color: rgb(247, 149, 113);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  opacity: 0.8;
}
/* Add your styles here */
.isloading {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 16px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

/* Optional: Add styling for buttons if needed */
.ant-modal-footer {
  border-top: none;
  padding: 10px 20px;
  text-align: right;
}

.ant-btn {
  margin-left: 8px;
}

td.book-status {
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
}

/* Specific styles for different states */
td.book-available {
  color: green;
}

td.book-out-of-stock {
  color: red;
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; /* Adjust the gap as needed */
}

.form-group {
  margin-bottom: 16px; /* Adjust the margin as needed */
}

label {
  display: block;
  margin-bottom: 8px;
}

/* Optional: Adjust modal width */
.nz-modal {
  max-width: 800px; /* Adjust the max-width as needed */
}

.ngaytra {
  position: relative;
}

.calendar {
  position: absolute;
  right: 10px;
  font-size: 30px;
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #45a049;
}

/* Button Styles */
.table button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.table button:not([disabled]):hover {
  background-color: #007bff;
  color: #fff;
}
/* Disabled Button Styles */
button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
  color: #555;
  cursor: not-allowed;
}
