<!-- Assuming this is your template file (HTML) -->
<h2>Thông tin sách</h2>
<p></p>
<form [formGroup]="create_value" class="book-form">
  <div class="form-group">
    <label for="first-name">Tên sản phẩm: </label>
    <input id="first-name" type="text" formControlName="name" />
  </div>
  <div class="form-group">
    <label for="last-name">Số lượng ban đầu: </label>
    <input id="last-name" type="text" formControlName="quantity" />
  </div>
  <div class="form-group">
    <label for="last-name">Kiểu: </label>
    <nz-select
      [(ngModel)]="create_value.value.selectedValue"
      (nzOpenChange)="onSelectChange($event)"
      formControlName="selectedValue"
      nzAllowClear
      nzPlaceHolder="Choose"
    >
      <nz-option
        *ngFor="let data of datas"
        [nzLabel]="data.type_Book"
        [nzValue]="data._id"
      ></nz-option>
    </nz-select>
  </div>
  <button (click)="CreateBook()">Gửi</button>
</form>
